<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="root"></div>

    <script>
        // {{}} 插值表达式
        // v-html  innerHtml类似，识别html标签
        // v-bind (:) 绑定属性，有简写
        // v-on (@) 绑定事件，有简写
        // 动态参数 []  动态指定属性名
        // 修饰符 @click.prevent

        // data & methods & computed & watcher
        const app = Vue.createApp({
            data() {
                return {
                    inputValue: '',
                    list: []
                }
            },
            methods: {
                handleAddItem() {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            },
            template: `
                <div>
                    <input v-model="inputValue" />
                    <button v-on:click="handleAddItem">增加</button>
                    <ul>
                        <todo-item
                          v-for="(item, index) of list"
                          v-bind:content="item"
                          v-bind:index="index"
                        />
                    </ul>
                </div>
            `
        });

        app.component('todo-item', {
            props: ['content', 'index'],
            template: `<li>{{index}}--{{content}}</li>`
        });

        app.mount('#root');
    </script>
</body>

</html>